<% flash.each do |key, message| %>
  <% if key == 'info' %>
    <div class="prompt_info">
      <span class="prompt_alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= message %>.
    </div>
  <% else %>
    <div class="prompt_alert">
      <span class="prompt_alert_closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <%= message %>.
    </div>
  <% end %>
<% end %>

<div class="header">
  <center><h1>Search Prompts</h1></center>
</div>

<div class="row search_page_body">
  <%= form_tag(prompt_search_path, method: :get) do %>
    <div class="col-12 col-s-12 menu">
      <%= text_field_tag(:query, params[:query], placeholder: "Enter your search query", required: true) %>
      <div class="responsive-text" id="responsiveText">Search Keywords like: (The Persistence, Car)</div>
    </div>
    <div class="col-12 col-s-12 submit_div">
      <%= submit_tag('Search') %>
    </div>
  <% end %>

  <div class="col-12 col-s-12 menu">
    <% if !flash.present? && @search_query.present? %>
      <% if @prompts.present? %>
        <h3>Search Results:</h3>
        <table class="prompt_table">
          <tr></tr>
          <% @prompts.compact.each do |prompt| %>
            <tr><td><%= prompt %></td></tr>
          <% end %>
        </table>
      <% else %>
        <p>No results found.</p>
      <% end %>
    <% end %>
  </div>
</div>


<script>
  function adjustFontSize() {
    const container = document.getElementById('responsiveText');
    const containerWidth = container.clientWidth;
    const text = container.textContent;

    let fontSize = 20; // Set an initial font size

    while (container.scrollWidth > containerWidth) {
      fontSize--;
      container.style.fontSize = `${fontSize}px`;
    }
  }

  // Adjust font size on window resize
  window.addEventListener('resize', adjustFontSize);

  // Initial adjustment
  adjustFontSize();
</script>